
DP-sum/.idea/aws.xml
DP-sum/.idea/inspectionProfiles/Project_Default.xml
DP-sum/.idea/kotlinc.xml
DP-sum/.idea/libraries/KotlinJavaRuntime.xml
DP-sum/.idea/misc.xml
DP-sum/.idea/modules.xml
DP-sum/DP-sum.iml
triangle/.idea/aws.xml
triangle/.idea/inspectionProfiles/Project_Default.xml
triangle/.idea/kotlinc.xml
triangle/.idea/libraries/KotlinJavaRuntime.xml
triangle/.idea/misc.xml
triangle/.idea/modules.xml
triangle/.idea/vcs.xml
triangle/triangle.iml
